@model IEnumerable<Project13.Models.Book>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .carousel {
            width: 50%;
            margin: auto;
            overflow: hidden;
            position: relative;
        }

            .carousel img {
                width: 100%;
                height: auto;
            }

        .carousel-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .section-book{
            margin:10px 0 10px 0;
            display:flex;
            justify-content:center;
            align-content:space-around;
        }
        .book,.e-book,.promotion,.sale-book {
            position: relative;
            margin-left: 10px;
            width: 270px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center;
            background-image: url('~/Content/Section/book-section.jpeg');
            overflow: hidden;
            color: white;
            border-radius:10px;
        }
            .book .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
                .book .image-container img {
                    width: 270px;
                    height: 100px;
                    opacity: 0.3;
                }
            .e-book .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
            .e-book .image-container img {
                width: 270px;
                height: 100px;
                opacity: 0.3;
            }
            .promotion .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }

                .promotion .image-container img {
                    width: 270px;
                    height: 100px;
                    opacity: 0.3;
                }
            .sale-book .image-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }

                .sale-book .image-container img {
                    width: 270px;
                    height: 100px;
                    opacity: 0.3;
                }

        .book {
            background-color:  rgba(186, 80, 130);
        }

        .e-book {
            background-color: rgba(54, 134, 201);
        }

        .promotion {
            background-color: rgba(130, 172, 38);
        }

        .sale-book {
            background-color: rgba(75, 0, 130);
        }
        .book h1 {
            text-align: center;
            z-index: 2;
            font-size: 32px;
            color: white;
            position: relative;
        }
        .e-book h1 {
            text-align: center;
            z-index: 2;
            font-size: 32px;
            color: white;
            position: relative;
        }
        .promotion h1 {
            text-align: center;
            z-index: 2;
            font-size: 32px;
            color: white;
            position: relative;
        }
        .sale-book h1 {
            text-align: center;
            z-index: 2;
            font-size: 32px;
            color: white;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="carousel">
        <div class="carousel-container">
            <img src="~/Content/Advert/Halloween_Sale.jpg" alt="Image 1">
            <img src="~/Content/Advert/Christmas_Sale.jpg" alt="Image 2">
            <img src="~/Content/Advert/Valentine_Sale.jpg" alt="Image 3">
        </div>
    </div>


    <section class="section-book">
        <div class="book">
            <div class="image-container">
                <img src="~/Content/Section/book-section.jpeg" />
            </div>
            <h1>หนังสือ</h1>
        </div>
        <div class="e-book">
            <div class="image-container">
                <img src="~/Content/Section/e-book-section.jpg" />
            </div>
            <h1>E_Book</h1>
        </div>
        <div class="promotion">
            <div class="image-container">
                <img src="~/Content/Section/promotion-section.png" />
            </div>
            <h1>โปรโมชั่น</h1>
        </div>
        <div class="sale-book">
            <div class="image-container">
                <img src="~/Content/Section/sale-section.jpg" />
            </div>
            <h1>สมัครขายหนังสือ</h1>
        </div>


    </section>




    <div class="container">
        @for (var i = 1; i <= Model.ToList().Count(); i++)
        {
            var indexItem = i - 1;
            if (i == 1 || i % 4 == 1)
            {
                @:<div class="row">
                }
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#" onclick="navigateToDetails(@Model.ElementAt(indexItem).Book_Id)">
                            <img class="img-responsive" style="max-width: 70%;" src="@Url.Content("~/Content/Book_Image/" + (Model.ElementAt(indexItem).Image))" />
                        </a>
                        <div class="caption">
                            <h3> @Model.ElementAt(indexItem).Book_Name </h3>
                            <h5> โดย: @Model.ElementAt(indexItem).Author </h5>
                            <h5>สำนักพิม: @Model.ElementAt(indexItem).Publisher </h5>
                            <h5>ราคา: @Model.ElementAt(indexItem).Price </h5>
                            <div style=" display: flex; justify-content: flex-end;">
                                <button class="btn" style="background-color: #F7CD81; border-radius: 14px; ">
                                    <h5>@Model.ElementAt(indexItem).Price</h5>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                if (i % 4 == 0)
                {
                @:</div>
            }
        }
    </div>



</body>


</html>
@section Scripts{
    <script type="text/javascript" src="~/Scripts\Advert\AdvertSlide.js"></script>
}

