@model IEnumerable<Project13.Models.Book>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .carousel {
            width: 50%;
            margin: auto;
            overflow: hidden;
            position: relative;
        }

            .carousel img {
                width: 100%;
                height: auto;
            }

        .carousel-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
    </style>
</head>
<body>
    <div class="carousel">
        <div class="carousel-container">
            <img src="~/Content/Advert/Halloween_Sale.jpg" alt="Image 1">
            <img src="~/Content/Advert/Christmas_Sale.jpg" alt="Image 2">
            <img src="~/Content/Advert/Valentine_Sale.jpg" alt="Image 3">
        </div>
    </div>


    <div class="container">
        @for (var i = 1; i <= Model.ToList().Count(); i++)
        {
            var indexItem = i - 1;
            if (i == 1 || i % 4 == 1)
            {
                @:<div class="row">
                }
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="#" onclick="navigateToDetails(@Model.ElementAt(indexItem).Book_Id)">
                            <img class="img-responsive" style="max-width: 70%;" src="@Url.Content("~/Content/Book_Image/" + (Model.ElementAt(indexItem).Image))" />
                        </a>
                        <div class="caption">
                            <h3> @Model.ElementAt(indexItem).Book_Name </h3>
                            <h5> โดย: @Model.ElementAt(indexItem).Author </h5>
                            <h5>สำนักพิม: @Model.ElementAt(indexItem).Publisher </h5>
                            <h5>ราคา: @Model.ElementAt(indexItem).Price </h5>
                            <div style=" display: flex; justify-content: flex-end;">
                                <button class="btn" style="background-color: #F7CD81; border-radius: 14px; ">
                                    <h5>@Model.ElementAt(indexItem).Price</h5>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
                if (i % 4 == 0)
                {
                @:</div>
            }
        }
    </div>



</body>


</html>
@section Scripts{
    <script type="text/javascript" src="~/Scripts\Advert\AdvertSlide.js"></script>
}

