<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="@Url.Content("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />*@


    <style>
        .navbar-fixed-top {
            background: #5B584F;
            display: flex;
            justify-content: space-between;
            width: 1900px;
            height: 100px;
            
        }     
        .login {
            margin-top: 0;
        }

        .search {
            display: flex;
            position: absolute;
            top: 30%;
            left: 40%;
            align-items: center;
        }

            .search input {
                border-radius: 10px;
                width: 300px;
                height: 40px;
                border: none;
                
            }
            .search button {
                height: 40px;
                border: none;
                background: transparent;
                cursor: pointer;
                
            }
    </style>



</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Logo/logo.png" alt="Logo" />
                </a>
            </div>
            @using ((Html.BeginForm()))
            {
                <div class="search ">
                    @Html.TextBox("SearchString", null, new { @placeholder = "ค้นหาหนังสือ" })
                    <button type="submit" value="Search"><box-icon name='search' color='#ffffff'></box-icon></button>
                </div>
                    }

                <div class="login">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
